
.mainTd {
    background: #000;
    color: #fff;
}

td {
    border: 1px dotted #0c99eb88;
    padding: 5px;
    text-align: center;
    background: rgba(0, 0, 0, 0.589);
    color: #fff;
}

table {
    margin: auto;
    margin-top: 10px;
}